[submodule "uds-global-core"]
	path = uds-global-core
	url = https://github.com/UDS-SPEG/uds-global-core.git
[submodule "uds-code"]
	path = uds-code
	url = https://github.com/UDS-SPEG/uds-code.git
[submodule "uds-lcms-core"]
	path = uds-lcms-core
	url = https://github.com/UDS-SPEG/uds-lcms-core.git
[submodule "uds-mber"]
	path = uds-mber
	url = https://github.com/UDS-SPEG/uds-mber.git
